.contact-section{
    text-align: center;
    background-color: pink;
}

.contact{
    text-align: center;
    background-color: pink;
}

.section-subtitle{
    text-align: center;
    font-size: 20px;
}
