.Education{
    background: #F4B400;
    box-sizing: content-box;
    padding-bottom: 20px;
}

.section--header{
    background: #F4B400;
    text-align: center;
    color: blue;
}

.school{
    text-align: center;
    font-size: 25px;
}

.padding-top{
    height: 20px;
    width: auto;
}

.major{
    background: #F4B400;
    font-size: 20px;
    text-align: left;
}

.about-major{
    background: #F4B400;
    text-align: left;
    font-size: 15px;
}

.classes{
    background-color: #0F9D58;
}
