.Education{
    background: white;
    box-sizing: content-box;
    border: 1px black;
}

.section--header{
    padding-left: 10px;
    text-align: left;
    font-size: 50px;
    color: blue;
}

.school{
    text-align: center;
    font-size: 25px;
}

.padding-top{
    height: 20px;
    width: auto;
}

.padding-left{
    width: 20px;
    height: auto;
}

.major{
    font-size: 25px;
    text-align: center;
}

.about-major{
    text-align: center;
    font-size: 20px;
}
