.Education{
    background: white;
    box-sizing: content-box;
}

.section--header{
    padding-left: 10px;
    text-align: left;
    font-size: 50px;
    color: blue;
}

.school{
    padding-left: 15px;
    text-align: left;
    font-size: 25px;
}

.padding-top{
    height: 20px;
    width: auto;
}

.major{
    padding-left: 15px;
    font-size: 20px;
    text-align: left;
}

.about-major{
    padding-left: 40px;
    text-align: left;
    font-size: 15px;
}

