.name--section{
    background-color: dodgerblue;
    font-size: 45px;
    text-align: center;
    color: #000;
}

.profile--section{
    background-color: dodgerblue;
    text-align: center;
}

.aboutMe--section{
    background-color: dodgerblue;
    text-align: center;
    color: black;
    font-size: 25px;
}

.padding--bottom{
    padding-bottom: 20px;
}

