.projects--section{
    background-color: #0F9D58;
    text-align: left;
}

.about--projects{
    text-align: center;
}

.title{
    padding-left: 15px;
    padding-bottom: 20px;
    text-align: left;
    color: blue;
}

.project{
    padding-left: 35px;
}
