.projects--section{
    background-color: mediumseagreen;
    text-align: center;
}

.about--projects{
    text-align: center;
}

.title{
    padding-bottom: 20px;
    text-align: center;
    color: blue;
}

.project{
}
